.side-bar {
  background-color: #393a44;
  min-width: 200px;
}


/* DASHBOARD TABLES CSS */
.reservations-display {  
  border: 3px solid rgb(30, 30, 30);
  padding: 1em;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-left: 1em;
}

.tables-display {  
  border: 3px solid rgb(30, 30, 30);
  padding: 1em;
  padding-right: 3em;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-left: 1em;
}


/* SeatReservation CSS */
.table-select{
  border-radius: 25px;
  padding: .5em;
}
